# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files for VS Code
.vscode/*

# ReSharper / Rider
_ReSharper.*
*.DotSettings.user

# .NET Core build directories
bin/
obj/

# Visual Studio 2015+ cache/options directory
.vs/

# NuGet Packages Directory
**/packages/*

# MSTest test Results
TestResults/

# NUNIT
**/NUnit*.xml
*.VisualState.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# BenchmarkDotNet Artifacts
BenchmarkDotNet.Artifacts/

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
*.config